/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



/* 프론트엔드 팀 멘트
- 유튜브의 동영상은 크롬창 폭 조절시 반응형으로 구분된다. 현재에는 적용되지 않았으나 차후에는 반응형으로 제작 예정.
일단 급한제작 진행함
  */

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background: rgb(30, 30, 30);;

}
.container{
  
}
/* 1. 헤더 */
header {
  z-index: 10;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  width: 100%;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 0px;
  left: 50%;
  color: white;
  background-color: rgb(50, 50, 50);
}

label[for=trigger] {
  width: 77.5px;
  height: 80px;
  display: block;
  position: fixed; 
  cursor: pointer;
  top: 40px;
  left: 0; /* 왼쪽으로 이동합니다. */
  transform: translateY(-50%);
  transition: 0.3s;
  color: rgb(255, 255, 255);
  font-size: 45px;

  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.logoBox{
  width: 150px;
  height: 80px;
  padding: 0px 20;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: fixed; 
  left: 100px; 
  top: 0; 
}
.logo{
  display: flex;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bolder;
}
.fa {
  font-size: 30px;
  color: red;
}

.searchBox{
  background: rgb(50, 50, 50);;
  width: 400px;
  height: 80px;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.search{
  background: rgb(50, 50, 50);;
  display: flex;
  padding: 0 10px;
}
#input-box{
  border-radius: 30px 0 0 30px ;
  width: 300px;
  height: 50px;
  border: 2px solid gray;
  font-size: 25px;
  padding-left: 25px;
  background: rgb(50, 50, 50);
}
.addBtn{
  
  font-size: 30px;
  background: grey;
  outline: none;
  border: none;
  width: 70px;
  border-radius: 0 30px 30px 0;
}
::placeholder{
  /* font-size: 25px;
  padding-left: 25px; */
}


/* 2. 사이드바 */
.sidebarBox{
  /* display: flex; */
}
input[id=trigger] {
  display: none;
}


.topTitle{
  text-decoration: none;
  color: white;
}
 
.sidebar {
  background: rgb(50, 50, 50);
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0px;  
  top: 80px;
} 

.iconBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);
  height: 140px;
  
}
.icon{
  font-size: 30px;
  text-align: center;
}
.iconText{
  font-size: 12px;
  text-align: center;
  padding: 15px 0;

}

/* 사이드바 클릭 */
input[id=trigger]:checked ~ .sidebar {
  background: rgb(50, 50, 50);
  width: 280px;
  height: 100vh;
  position: fixed;
  left: 0px;  
}
input[id=trigger]:checked ~ .iconBox {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-start;  
  color: rgb(255, 255, 255);
  height: 140px;
}
input[id=trigger]:checked ~ .icon {
  font-size: 20px;
  margin-left: 50px;
}
input[id=trigger]:checked ~ .iconText {
  font-size: 24px;
  padding: 15px 0;
  display: inline-block;
  font-weight: none;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  margin-left: 30px;
}
input[id=trigger]:checked ~ main {
  margin-left: 280px;
  width: calc(100% - 280px);
  color: aliceblue;
  overflow: hidden;
}

input[id=trigger]:checked ~ .item {
  /* width: auto; */
  width: cal(100% -80);
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  list-style-type: none;
}

  /* 3. 영상들 */

main{
  width: calc(100% - 80px);
  color: aliceblue;
  margin-left: 80px;
  overflow: hidden;  /* 메인 넘어가면 hidden*/
  }

/* ul */
.videoList{
  /* border: 1px solid rgb(255, 0, 0); */
  width: auto;  
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  list-style-type: none;
  flex-wrap: wrap;
  
}
/* li */
li{
  z-index: 1;
  /* border: 1px solid rgb(255, 251, 0); */
  width: auto;
  height: auto;
  min-width: 300px;
  padding: 20px 15px;
  /* flex-basis: 200px; */
  /* flex-shrink: 1; */
}

/* li 하위요소들 */
.player{
  /* border: 1px solid red; */
  border-radius: 15px;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  transition: 0.3s;
  
}

 /* 썸네일 */
 .player img{
  /* transform: scale(1.0); */
  max-width: 100%;
  height: 100%;
  transition: 0.3s;

}

.player:hover {
  border-radius: 0px;
  transition: 0.3s;
}
.player:hover img {
  transform: scale(1.05);
  /* width: calc(100% + 100px);
  height: calc(100% + 100px); */
  transition: 0.3s;

}

/* 영상자체 */
/* video{
  width: 100%;
  height: 300px;
  display: none;
 } */

 
.titleBox{
  display: flex;
  align-items: column;
  height: 60px; 
  padding: 0px 10px;
}

.title{
  padding-left: 10px;
  width: 380px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.moreBtn {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  padding-right: 10px;
  background: none;
  outline: none;
  border: none;
  color: aliceblue;
}
 .info{
  padding: 0px 10px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
 
  font-size: 14px;
  color: gray;
}

.noShow{
  display: none;
}
